@use "mixins";
@import "variables";
%headertop {
  .header-top {
    height: 50%;
    width: 100%;
    display: flex;
    .social-container {
      width: 33%;
      display: flex;
      align-items: center;
      gap: 15px;
      i {
        padding-left: 10px;
        font-size: 1.7rem;
        color: $secondary-color;
      }
    }
    .slogan-container {
      width: 33%;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        color: $primary-color;
      }
    }
    .cart-container {
      width: 34%;
      display: flex;
      justify-content: end;
      align-items: center;
      i {
        font-size: 1.7rem;
        padding-right: 10px;
        color: $secondary-color;
      }
    }
  }
}
%headerbottom {
  .header-bottom {
    height: 50%;
    width: 100%;
    display: flex;
    border-top: 1px solid $secondary-color;
    .menu-search-container {
      width: 50%;
      @include mixins.desktop {
        width: 25%;
      }
      display: flex;
      .burger-container {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-left: 10px;
        margin-right: 10px;
        @extend %burger-animation;
      }

      .search {
        display: flex;
        align-items: center;
        gap: 5px;
        i {
          color: $secondary-color;
        }
        input {
          width: 130px;
        }
      }
    }
    .header-logo-container {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      @include mixins.tablet {
        #logo-tablet {
          width: 100%;
        }
        #logo-desktop {
          display: none;
        }
      }
      @include mixins.desktop {
        #logo-tablet {
          display: none;
        }
        #logo-desktop {
          display: unset;
          width: 65%;
        }
      }
    }
  }
}
.menu-container {
  position: fixed;
  transform: translateX(-100%);
  transition: transform 0.5s;
  width: 100%;
  height: 100%;
  bottom: 0;
  z-index: 99;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  @include mixins.tablet {
    height: 80% !important;
    justify-content: flex-start;
  }
  @include mixins.desktop {
    height: 80% !important;
    width: 25%;
    justify-content: space-between;
  }

  .menu-list {
    list-style: none;
    height: 90%;
    width: 100%;
    a {
      text-decoration: none;
      color: black;
    }

    .menu-item {
      font-size: 1.3rem;
      font-weight: 500;
      height: 16.66%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-left: 30px;
      border-top: 1px solid $secondary-color;
      transition: 0.1s linear;
      &:hover {
        background-color: $secondary-color;
      }
    }
    .menu-item-last {
      border-bottom: 1px solid $secondary-color;
    }
  }
}
.show-menu {
  transform: translateX(0%);
}
.phone-icon-container {
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
  margin-left: 10px;
  @extend %burger-animation;

  @include mixins.tablet {
    display: none;
  }
  @include mixins.desktop {
    display: none;
  }
  .cart-icon {
    i {
      font-size: 2rem;
      color: $secondary-color;
    }
  }
}
