@use "mixins";
@use "header";
@import "variables";

html,
body {
  height: 100%;
  font-size: 12pt;
  margin: 0;

  #index-header {
    height: 20%;
    display: none;
    @extend %headertop;
    @extend %headerbottom;
    @include mixins.tablet {
      display: flex;
      flex-direction: column;
    }
    @include mixins.desktop {
      display: flex;
      flex-direction: column;
    }
  }

  #index-main {
    height: 100%;
    background-image: url(/assets/images/MicrosoftTeams-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20%;
    @include mixins.tablet {
      height: 80%;
      background-position: 1%;
    }
    @include mixins.desktop {
      height: 80%;
      background-position: 1%;
    }
    .menu-container {
      position: fixed;
      transform: translateX(-100%);
      transition: transform 0.5s;
      width: 100%;
      height: 100%;
      bottom: 0;
      z-index: 99;
      background-color: white;
      opacity: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .menu-list {
        list-style: none;
        height: 80%;
        width: 100%;
        a {
          text-decoration: none;
        }
        
        .menu-item {
          font-size: 1rem;
          height: 20%;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
    .show-menu {
      transform: translateX(0%);
    }

    .phone-icon-container {
      height: 10%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-right: 10px;
      margin-left: 10px;
      #burger-menu {
        z-index: 100;
        .top-bun {
          height: 5px;
          width: 35px;
          background-color: $secondary-color;
          margin-bottom: 5px;
          transition: transform 0.1s ease-in-out;
        }
        .patty {
          height: 5px;
          width: 35px;
          background-color: $secondary-color;
          margin-bottom: 5px;
          transition: transform 0.1s ease-in-out;
        }
        .bottom-bun {
          height: 5px;
          width: 35px;
          background-color: $secondary-color;
          transition: transform 0.1s ease-in-out;
        }
      }
      .top-bun-toggle {
        transform: rotate(-45deg);
        margin-top: 22.5px;
      }
      .patty-toggle {
        transform: rotate(45deg);
        margin-top: -10px;
      }
      .bottom-bun-toggle {
        transform: scale(0);
      }
      
      @include mixins.tablet {
        display: none;
      }
      @include mixins.desktop {
        display: none;
      }
      .cart-icon {
        i {
          font-size: 2rem;
          color: $secondary-color;
        }
      }
    }
    .main-wrapper {
      height: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .content-container {
        display: none;
        width: 80%;
        flex-direction: column;
        align-items: center;
        @include mixins.tablet {
          display: flex;
        }
        @include mixins.desktop {
          display: flex;
        }

        .team-container {
          width: 100%;
          display: flex;
          justify-content: space-between;
          .person-container {
            width: 30%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .img-container {
              height: 170px;
              width: 170px;
              display: flex;
              justify-content: center;
              align-items: center;
              @include mixins.desktop {
                height: 200px;
                width: 200px;
              }
              img {
                height: 170px;
                width: 170px;
                border-radius: 100%;
                @include mixins.desktop {
                  height: 200px;
                  width: 200px;
                }
              }
            }
            .name {
              font-size: 1.5rem;
              height: 50px;
            }
            .quote {
              width: 75%;
              display: flex;
              justify-content: center;
              align-items: center;
              p {
                font-size: 0.8rem;
              }
            }
          }
        }
      }
      .logo-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        @include mixins.tablet {
          display: none;
        }
        @include mixins.desktop {
          display: none;
        }
        img {
          width: 60%;
        }
      }
    }
    .to-mainpage {
      height: 10%;
      display: flex;
      justify-content: center;
      align-items: center;
      @include mixins.desktop {
        align-items: flex-end;
        height: 15%;
      }
      button {
        display: none;
        height: 35px;
        width: 200px;
        font-size: 1rem;
        background-color: $primary-color;
        border-radius: 4px;
        @include mixins.tablet {
          display: unset;
        }
        @include mixins.desktop {
          display: unset;
        }
      }
      i {
        font-size: 2rem;
        color: white;
        @include mixins.tablet {
          display: none;
        }
        @include mixins.desktop {
          display: none;
        }
      }
    }
  }
}
