@use "mixins";
@use "variables";
@use "header";
@use "footer";
@use "checkout";
@use "products";

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-size: 12pt;
    font-family: "Maven Pro", sans-serif;
}
