@import "mixins";
@import "variables";
@import "header";
@import "footer";
@import "checkout";

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-size: 12pt;
    font-family: "Maven Pro", sans-serif;
}
