@use "products";
@use "product";
@import "mixins";
@import "variables";
@import "header";
@import "footer";

html,
body {
    height: 100%;
    font-size: 12pt;
    font-family: "Maven Pro", sans-serif;
}
